body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#000;
}

.box{
  width:170px;
  height:170px;
  background:#020617;
  border-radius:20px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* circular dial */
.dial{
  width:120px;
  height:120px;
  border-radius:50%;
  background:#111827;
  position:relative;
  touch-action:none;
}

/* rotating photo */
.photo{
  width:80px;
  height:80px;
  border-radius:50%;
  position:absolute;
  top:20px;
  left:20px;
  object-fit:cover;
  pointer-events:none;
}

/* needle / indicator */
.needle{
  width:3px;
  height:18px;
  background:#38bdf8;
  position:absolute;
  top:5px;
  left:50%;
  transform:translateX(-50%);
  border-radius:10px;
  pointer-events:none;
}
