body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Arial;

  /* SAME REEL / STORY TYPE GRADIENT */
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.voice-box{
  display:flex;
  align-items:center;
  gap:15px;
  padding:15px 20px;
  border-radius:50px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  box-shadow:0 10px 40px rgba(0,0,0,.4);
}

.dp{
  width:55px;
  height:55px;
  border-radius:50%;
  overflow:hidden;
  border:2px solid #38bdf8;
}

.dp img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.rotate{
  animation: spin 2s linear infinite;
}

@keyframes spin{
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}

button{
  width:45px;
  height:45px;
  border-radius:50%;
  border:none;
  font-size:18px;
  cursor:pointer;

  background:#38bdf8;
  color:#000;
}
