*{margin:0;padding:0;box-sizing:border-box}
body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:#151f28;
overflow:hidden;
}
.wrapper{
width:66rem;
height:45rem;
perspective:250rem;
}
.cover{
position:absolute;
width:50%;
height:100%;
background:#029bca;
transform-origin:right;
}
.cover-right.turn{transform:rotateY(180deg)}
.book{
width:100%;
height:100%;
position:relative;
}
.book-page{
width:50%;
height:100%;
position:absolute;
background:#fff;
padding:1rem;
}
.page-left{box-shadow:-5px 5px 15px rgba(0,0,0,.2)}
.page-right{
right:0;
transform-origin:left;
transition:1s;
transform-style:preserve-3d;
}
.page-right.turn{transform:rotateY(-180deg)}
.page-front,.page-back{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}
.page-back{transform:rotateY(180deg)}
.img-box.full{
width:100%;
height:100%;
}
.img-box.full img{
width:100%;
height:100%;
object-fit:cover;
}
.nextprev-btn{
position:absolute;
bottom:1rem;
right:1rem;
font-size:2rem;
cursor:pointer;
}
.nextprev-btn.back{left:1rem}
.number-page{
position:absolute;
bottom:1rem;
left:50%;
transform:translateX(-50%)
}
